:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;

  --accent-bg-color: #e5e5e5;
  --dark-bg-color: #2f303a;
  --white-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;

  --title-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;

  --icons-color: #afb1b8;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--main-text-color);
  font-family: var(--title-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.item {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.colortext {
  color: var(--accent-text-color);
}

/* HIDDEN TITLES */
.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MODAL BLOCK */
.backdrop {
  position: fixed;
  left: 0px;
  top: -1px;

  width: 100%;
  height: 100%;

  background-color: #75757593;
  transition: opacity var(--animation), visability var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--white-bg-color);
}

.modal-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 12px;
  text-align: center;
}

.modal-button:hover .icon-close,
.modal-button:focus .icon-close {
  fill: var(--accent-text-color);
}

.modal-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 9px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #212121;
  background-color: var(--white-bg-color);
  cursor: pointer;
}

.modal .icon-close:hover {
  border-color: var(--accent-text-color);
}

.icon-modal {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 36px;
  left: 11px;
}

.button-submit {
  position: absolute;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;

  font-family: var(--title-font);
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field input {
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.form-field textarea {
  width: 100%;
  /* height: 120px; */
  padding: 11px 12px;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  line-height: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.contract {
  color: var(--accent-text-color);
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .label-span {
  background-color: var(--accent-text-color);
  background-image: url(../images/icons/vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-origin: border-box;
  border: var(--accent-text-color);
}

.checkbox:focus + .label-span {
  border-color: var(--accent-text-color);
}

.label-span {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 8px;
}

/* SITE NAV */
.logo-header {
  display: inline-block;
  margin-right: 93px;

  color: var(--title-text-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header .container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;

  background-color: var(--white-bg-color);
}

.main-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  align-items: center;
}

.site-nav {
  display: inline-flex;
}

.site-nav .link {
  position: relative;
  transition: color var(--animation);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  bottom: -1px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

/* AUTH NAV */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;

  transition: color var(--animation);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

.address {
  font-style: inherit;
  color: var(--white-text-color);
}
.address-link {
  color: var(--white-text-color);
  transition: color var(--animation);
}
.connect {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* CONNECT ICON */
.connect-icon {
  fill: currentColor;
  margin-right: 10px;
}

.connect-link {
  display: flex;
  align-items: center;
}

/* HERO */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  text-align: center;

  background-size: contain;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpeg);
}

.page-title {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;

  color: var(--white-text-color);
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-order {
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  color: var(--white-text-color);
  background-color: var(--accent-text-color);

  font-family: var(--title-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  transition: background-color var(--animation), color var(--animation);
}

/* FEATURE */
.feature-list .item {
  width: 270px;
}
.feature-list {
  display: flex;
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.paragraf-text {
  font-family: var(--title-font);
}

.feature__box {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: var(--second-bg-color);
}

.feature__icon {
  width: 70px;
  height: 70px;
}

/* WE DO */

.we-do {
  padding-bottom: 94px;
}

.we-do__item:not(:last-child) {
  margin-right: 30px;
}

.we-do__item {
  position: relative;
}

.we-do__list {
  display: flex;
}

.title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.thumb-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}

/* TEAM */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
}
.team .item {
  width: 270px;
  border-radius: 4px;

  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .item:not(:last-child) {
  margin-right: 30px;
}

.team__box {
  padding: 30px 32px;
}

.team-name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profession-text {
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

/* CLIENTS */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--icons-color);

  transition: fill var(--animation);
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  transition: border-color var(--animation);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-text-color);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-text-color);
}

/* SOCIAL  ICONS */
.social-icons {
  display: inline-flex;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);

  transition: var(--animation);
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-bg-color);

  transition: background-color var(--animation);
}

.social-icons-link:hover {
  background-color: var(--accent-text-color);
}

.social-icons-link:focus {
  background-color: var(--accent-text-color);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--white-text-color);
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

/* GALLERY */
.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-nav {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.gallery-nav .item {
  width: auto;
}

.gallery-nav .item:not(:last-child) {
  margin-right: 8px;
}

.gallery-progect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery-progect__link {
  display: flex;
  flex-direction: column;

  transition: box-shadow var(--animation);
}

.gallery-progect .item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.gallery-progect .item {
  margin-top: 30px;
  margin-left: 30px;
}

.gallery-about {
  padding: 20px 24px;
  flex-grow: 1;
}

.gallery-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.gallery-text {
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 1.87;
}

.button-nav {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--second-bg-color);

  border: 0;
  border-radius: 4px;

  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);
}

.button-nav:hover,
.button-nav:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-about {
  border: 1px solid #eeeeee;
  border-top: none;
}

.gallery-progect__link:hover,
.gallery-progect__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-progect__link:hover .thumb-text {
  transform: translateY(0%);
  opacity: 1;
}

.gallery-progect__link:focus.thumb-text {
  transform: translateY(0%);
  opacity: 1;
}

.thumb-product {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2195f36c;
  overflow: hidden;
}

.thumb-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;

  font-family: var(--title-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;

  color: var(--white-text-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--animation), opacity var(--animation);
}

/* FOOTER */
.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-right: 70px;
}

.footer-connecting {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.subscription {
  display: flex;
}

.footer-subscription {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form-field {
  margin-right: 12px;
}

.footer-form-field input {
  padding: 11px 12px;
  width: 358px;
  height: 50px;
  font-size: 14px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--dark-bg-color);
}

.form-field:focus-within > .icon-modal {
  fill: var(--accent-text-color);
  /* border: var(--accent-text-color); */
}
.form-field:hover > .icon-modal {
  fill: var(--accent-text-color);
  border: var(--accent-text-color);
}

.form-field:hover > input {
  border-color: var(--accent-text-color);
}
.form-field:hover > textarea {
  border-color: var(--accent-text-color);
}

/* .form-field input:focus {
  border: var(--accent-text-color);
} */

.button-subscription {
  /* position: relative; */
  display: flex;
  align-items: center;
  /* width: 200px; */

  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  font-family: var(--title-font);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  text-align: center;

  color: var(--white-text-color);
  padding: 10px 22px;
  cursor: pointer;
}

.subscription input {
  padding: 15px, 16px;
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Footer icon */
.icon-footer {
  /* position: absolute; */
  width: 24px;
  height: 24px;
  fill: var(--white-bg-color);
  /* top: 13px;
  right: 12px; */
  margin-left: 10px;
}

.footer-icons {
  display: inline-flex;
}

.footer-icons-svg {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}

.footer-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--animation);
}

.footer-icons-link:hover .social-icons-svg,
.footer-icons-link:focus .social-icons-svg {
  fill: var(--white-text-color);
}

.footer-icons-link:hover {
  background-color: var(--accent-text-color);
}

.footer-icons-link:focus {
  background-color: var(--accent-text-color);
}

.footer-icons-item:not(:last-child) {
  margin-right: 10px;
}

/* Logo Website footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
